<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- 固定値 -->		
		<!-- DB接続文字列-->
		<add key="DBConnString" value="Provider= Microsoft.Jet.OLEDB.4.0;Data Source={0}" />
		<!--  Accessのデータベースファイルのパス -->
		<add key="DB1Path" value="..\..\db\社員管理data.mdb" />
		<!--  Accessのデータベースファイルのパス -->
		<add key="DB2Path" value="..\..\db\UpdateSQL.mdb" />
		<add key="ChkVersion" value="2" />

		<!-- SQL -->
		<!-- Version取得用 -->
		<add key="SQL_Select_Version" value="select version_row from version;" />
		<add key="SQL_Select_UpCmd" value="select update_sql from VersionUpSQL;" />
		<add key="SQL_Select_RepFlg" value="select repeat_flg from VersionUpSQL;" />
		<add key="SQL_Select_VSN" value="select Version from VersionUpSQL;" />
		<add key="SQL_Select_All" value="select * from VersionUpSQL;" />
	</appSettings>
</configuration>