<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- 接続文字列 -->
		<add key="DBConnString" value="Provider= Microsoft.Jet.OLEDB.4.0;Data Source={0}" />
		<!--  Accessのデータベースファイルのパス -->
		<add key="DBPath" value="C:\Users\wataru\Documents\git\DB_Upgrade0.0\DB\社員管理data.mdb" />
	</appSettings>
</configuration>